#start, #num_of_objects_label, #status_label{
    font-size: 18px;
}

#footer{
    width: 100%;
    color: white;
    background-color: grey;
    bottom: 0;
    position: fixed;
    line-height: 2;
}

body{
    background-size: cover;
}

#heading{
    top: 0;
    width: 100%;
    font-size: 23px;
}

canvas{
    border: 5px solid white;
    padding: 20px;
    box-shadow: 5px 5px 5px white;
}